@import './mixins';

.container {
  max-width: 100%;
  margin: 0 auto;
  @include mediaQuery(320px) {
    padding: 0 15px;
  }
  @include mediaQuery(768px) {
    padding: 0 20px;
  }
  @include mediaQuery(1440px) {
    width: 1440px;
  }
}
