@mixin mediaQuery($breakpoint) {
  @media screen and (min-width: $breakpoint) {
    @content;
  }
}
@mixin mediaMaxQuery($breakpoint) {
  @media screen and (max-width: $breakpoint) {
    @content;
  }
}

@mixin font(
  $fsMin: 14px,
  $fsPreferred: 2vw,
  $fsMax: 24px,
  $fw: 400,
  $lh: 14px
) {
  --computed-font-size: clamp(#{$fsMin}, #{$fsPreferred}, #{$fsMax});
  font-size: var(--computed-font-size);
  font-weight: $fw;
  line-height: calc(var(--computed-font-size) * #{$lh});
}
@mixin slideAnimation($name, $startX, $startY, $endX, $endY, $startO, $endO) {
  @keyframes #{$name} {
    0% {
      transform: translate(#{$startX}, #{$startY});
      opacity: #{$startO};
    }
    100% {
      transform: translate(#{$endX}, #{$endY});
      opacity: #{$endO};
    }
  }
}

@mixin flexCenter() {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex() {
  display: flex;
  align-items: center;
}
:export {
  flex: #{mixinStr(flex)};
  flexCenter: #{mixinStr(flexCenter)};
  mediaQuery: #{mixinStr(mediaQuery)};
  mediaMaxQuery: #{mixinStr(mediaMaxQuery)};
}
